{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <h1 class="ui header">Modifier la marque : {{ brand.name }}</h1>

    {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
        {{ form_widget(form) }}
        <button class="ui primary button" type="submit">Enregistrer</button>
        <a href="{{ path('admin_brand_index') }}" class="ui button">Retour</a>
    {{ form_end(form) }}
{% endblock %}
