{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<h1>{{ brand.translations|first.name }}</h1>

{% if brand.logoPath %}
    <img src="{{ asset('media/brand/' ~ brand.logoPath) }}" alt="{{ brand.translations|first.name }}">
{% endif %}

<p>{{ brand.translations|first.description }}</p>

<h2>Produits de cette marque</h2>
<ul>
    {% for product in brand.products %}
        <li><a href="{{ path('sylius_shop_product_show', {slug: product.slug}) }}">{{ product.name }}</a></li>
    {% else %}
        <li>Aucun produit disponible.</li>
    {% endfor %}
</ul>
{% endblock %}
