{{ form_errors(form) }}

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.details'|trans }}</h4>
    {{ form_row(form.code) }}
    <div class="two fields">
        {{ form_row(form.enabled) }}
        {{ form_row(form.position) }}
    </div>
    {% if form.logoPath is defined %}
        {{ form_row(form.logoPath) }}
    {% endif %}
</div>

{% if form.translations is defined and form.translations|length > 0 %}
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.translations'|trans }}</h4>
    
    <div class="ui top attached tabular menu">
        {% for locale_form in form.translations %}
            <div class="item {% if loop.first %}active{% endif %}" data-tab="{{ locale_form.vars.name }}">
                {{ locale_form.vars.name|upper }}
            </div>
        {% endfor %}
    </div>
    
    {% for locale_form in form.translations %}
        <div class="ui bottom attached tab segment {% if loop.first %}active{% endif %}" data-tab="{{ locale_form.vars.name }}">
            {{ form_row(locale_form.name) }}
            
            {% if locale_form.slug is defined %}
                {{ form_row(locale_form.slug) }}
            {% endif %}
            
            {% if locale_form.description is defined %}
                {{ form_row(locale_form.description) }}
            {% endif %}
            
            {% if locale_form.metaKeywords is defined %}
                {{ form_row(locale_form.metaKeywords) }}
            {% endif %}
            
            {% if locale_form.metaDescription is defined %}
                {{ form_row(locale_form.metaDescription) }}
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}

{{ form_rest(form) }}