{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <h1>{{ 'rika_sylius_brand.ui.new_brand'|trans }}</h1>
        
        {{ form_start(form, {'attr': {'class': 'ui form', 'novalidate': 'novalidate'}}) }}
        {% include '@RikaSyliusBrandPlugin/Admin/Brand/_form.html.twig' %}
        
        <div class="ui buttons">
            <button type="submit" class="ui labeled icon primary button">
                <i class="checkmark icon"></i> {{ 'sylius.ui.create'|trans }}
            </button>
            <a href="{{ path('rika_sylius_brand_admin_brand_index') }}" class="ui button">
                {{ 'sylius.ui.cancel'|trans }}
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}